@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* ----ROOT VARIABLES---- */
:root {
  --color-primary: #383167;
  --color-secondary: #026606;
  --color-secondary-logo: #026606;
  --color-tertiary: #fefd0d;
  --color-danger: #c80707;
  --color-success: #d5ffd6;
  --color-warning: #ffe6e6;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #383167;
  --color-dark-variant: #677483;
  --color-background: #f6f6f6;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ----Dark Theme Variables---- */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-secondary-logo: #fefd0d;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  color: var(--color-dark);
  position: relative;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

.space {
  height: 5rem;
}

.spaceL {
  margin-top: 4.2rem;
}

h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  /* font-weight: 500; */
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

form,
input,
select {
  font-family: poppins, sans-serif;
  color: var(--color-dark);
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-muted {
  color: var(--color-info-dark) !important;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dar);
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.login-top {
  width: 100%;
  margin-top: -3rem;
  margin-right: -5rem;
  margin-left: -3rem;
}
.login-top .top-color-box {
  height: 144px;
}
.login-top .green {
  background: var(--color-secondary);
}
.login-top .yellow {
  background: var(--color-tertiary);
}
.login-top .yellow img {
  width: 6.25rem;
}
.login-top .blue {
  background: var(--color-primary);
}

.sidebar {
  height: 100vh;
}
.sidebar .header-box img {
  width: 3.4rem;
  height: 3.5rem;
}
.sidebar .close-btn {
  cursor: pointer;
  color: var(--color-dark);
  border: none;
  outline: none;
  background: transparent;
  font-size: 2.25rem;
  font-weight: 300;
}
.sidebar .header-box h2 {
  color: var(--color-secondary-logo);
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1rem;
}
.sidebar ul {
  position: relative;
}
.sidebar ul li:last-child {
  position: absolute;
  bottom: -30vh;
  width: 100%;
}
.sidebar li {
  padding: 2px 0;
}
.sidebar li a {
  display: flex;
  align-items: center;
  font-size: 0.87rem;
  font-weight: 500;
  height: 3.7rem;
  color: var(--color-dark);
  padding: 0.5rem 1rem;
}
.sidebar li a:hover {
  background: var(--color-light);
  color: var(--color-primary);
}
.sidebar li a h3 {
  display: inline;
}
.sidebar li a i {
  font-size: 20px;
  margin-right: 1rem;
}
.sidebar li.active {
  background: var(--color-light);
  color: var(--color-primary);
  position: relative;
}
.sidebar li.active:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
  top: 0;
  left: -1px;
}
.sidebar li.active a,
.sidebar li.active a:hover {
  color: var(--color-primary);
}

.content {
  width: 100%;
}
.content nav {
  background: transparent;
}
.content nav button {
  cursor: pointer;
  color: var(--color-dark);
}
.content nav .dropdown ul {
  background: var(--color-white);
}
.content nav .dropdown ul li a {
  color: var(--color-dark);
}
.content nav .dropdown ul li a:hover {
  background: var(--color-light);
}
.content nav .alert {
  margin-bottom: -10px;
}
.content nav .alert .notification {
  position: relative;
}
.content nav .alert .notification i {
  font-size: 1.3rem;
  color: var(--color-dark);
}
.content nav .alert .notification .count {
  width: 15px;
  height: 15px;
  background: var(--color-secondary);
  color: white;
  font-size: 0.6rem;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content nav .alert .mail {
  position: relative;
}
.content nav .alert .mail i {
  font-size: 1.3rem;
  color: var(--color-dark);
}
.content nav .alert .mail .count {
  width: 15px;
  height: 15px;
  background: var(--color-tertiary);
  color: var(--color-primary);
  font-size: 0.6rem;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content nav .theme-toggler {
  background: var(--color-light);
  height: 1.8rem;
  width: 5rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.content nav .theme-toggler i {
  font-size: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content nav .theme-toggler i.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}
.content nav .profile {
  text-align: right;
  position: relative;
  cursor: pointer;
}
.content nav .profile p {
  margin-bottom: 0.1rem;
}

#side-nav {
  min-width: 200px;
  max-width: 200px;
  transition: all 0.3s;
}

.dropdown-menu[data-bs-popper] {
  left: -50px;
  border: none;
}

main .title {
  color: var(--color-info-dark);
  font-size: 1.25rem;
  font-weight: 300;
}
main .card {
  background: var(--color-white);
}
main .card-header h2 {
  color: var(--color-dark);
}
main .mode-bg {
  background: var(--color-white);
}
main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
  padding: 0.5rem 0;
}
main table thead th {
  color: var(--color-dark-variant);
}
main .dataTables_wrapper .dataTables_length,
main .dataTables_wrapper .dataTables_filter,
main .dataTables_wrapper .dataTables_info,
main .dataTables_wrapper .dataTables_processing,
main .dataTables_wrapper .dataTables_paginate {
  color: var(--color-dark);
}
main .dataTables_wrapper .dataTables_length select {
  color: var(--color-dark);
}
main .dataTables_wrapper .dataTables_filter input {
  color: var(--color-dark);
}
main .quick-info .top .left h1,
main .quick-info .top .left h3 {
  color: var(--color-dark);
}
main .quick-info .top .right .ring {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .quick-info .top .right .ring i {
  color: var(--color-white);
  font-size: 2.5rem;
}
main .quick-info .top .right .student {
  background: var(--color-secondary);
}
main .quick-info .top .right .platoons {
  background: var(--color-primary);
}
main .quick-info .top .right .instructors {
  background: var(--color-tertiary);
}
main .quick-info .top .right .instructors i {
  color: var(--color-primary);
  font-size: 2.5rem;
}
main .chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
main .student-monitor {
  margin-top: 2rem;
  width: 100%;
}
main .student-monitor h2 {
  color: var(--color-dark);
}
main .student-monitor .item {
  width: 100%;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.45rem var(--card-padding);
  transition: all 300ms ease;
  border-bottom: 1px solid var(--color-info-light);
}
main .student-monitor .item:first-child {
  margin-top: -3rem;
}
main .student-monitor .item:last-child {
  border: none;
}
main .student-monitor .item .student-monitor-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .student-monitor .item .student-monitor-bottom {
  width: 100%;
  /* Progress Bar */
}
main .student-monitor .item .student-monitor-bottom .bar {
  width: 100%;
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
main .student-monitor .item .student-monitor-bottom .bar::before {
  content: "";
  display: flex;
  justify-content: end;
  width: calc(var(--percent) * 1%);
  height: 100%;
  background: #2486ff;
  white-space: nowrap;
  background-image: linear-gradient(red, red), linear-gradient(orange, orange), linear-gradient(orchid, orchid), linear-gradient(lightblue, lightblue), linear-gradient(green, green);
  background-size: calc((var(--percent) - 80) * 100%) 100%, calc((var(--percent) - 60) * 100%) 100%, calc((var(--percent) - 40) * 100%) 100%, calc((var(--percent) - 20) * 100%) 100%, 100% 100%;
  border-radius: 10px;
}
main .show-more {
  display: block;
  margin: 1rem;
}
main .nav-link {
  color: rgb(125, 141, 161);
}
main .nav-link:hover {
  color: var(--color-primary);
}
main .nav-tabs .nav-link.active {
  color: var(--color-primary);
}
main .action button {
  background: transparent;
  cursor: pointer;
}
main .action button i {
  margin-right: 0.5rem;
  color: var(--color-dark-variant);
  font-size: 1.3rem;
  font-weight: 100;
}
main .action button i:hover {
  color: var(--color-primary-variant);
}
main .modal-content {
  background: var(--color-background);
}
main .modal-content h2 {
  color: var(--color-dark);
}
main .modal-content .modal-header .modal-title {
  color: var(--color-dark);
  font-size: 1.25rem;
  font-weight: 300;
}
main .modal-content .modal-header .btn-close {
  --bs-btn-close-color: red !important;
}
main .user-profile-top {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
}
main .user-profile-top .user-photo {
  background: transparent;
}
main .user-profile-top .user-photo img {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .user-profile-top .profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  justify-self: flex-start;
}
main .user-profile-top .profile-details .name {
  font-weight: 300;
  color: var(--color-dark);
}
main .user-profile-top .profile-details p span {
  color: var(--color-dark);
  margin-left: 0.5rem;
}
main .user-profile-top .doc-action {
  position: absolute;
  right: 0;
}
main .user-profile-top .doc-action button {
  background: transparent;
  border-radius: 5px;
  padding: 5px;
  color: #717171;
  cursor: pointer;
}
main .user-profile-bottom {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
main .user-profile-bottom .user-profile-left,
main .user-profile-bottom .user-profile-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: start;
}
main .user-profile-bottom p i {
  display: inline-block;
  max-width: 500px;
  color: var(--color-dark);
  margin-left: 0.5rem;
}
main .btn {
  color: var(--color-dark);
}
main .btn-primary {
  height: 50px;
  background: var(--color-primary);
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
main .btn-primary:hover {
  background: var(--color-primary-variant);
}
main .btn-secondary {
  height: 50px;
  background: var(--color-secondary);
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
main .btn-danger {
  height: 50px;
  background: var(--color-danger);
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
main .delete-user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .delete-user-btn {
  display: flex;
  justify-content: space-around;
}
main .delete-user-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
main .delete-user-btn button:first-child {
  background: var(--color-danger);
}
main .delete-user-btn button:last-child {
  background: var(--color-secondary);
}
main .active-status span {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  color: #364a31;
  background: var(--color-success);
  text-align: center;
  border-radius: 50px;
  padding: 5px 15px;
}
main .pending-status span {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  color: #364a31;
  background: var(--color-warning);
  text-align: center;
  border-radius: 50px;
  padding: 5px 15px;
}
main .avatar-s {
  height: 2rem;
  width: 2rem;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
main .avatar {
  position: relative;
  display: inline-block;
}
main .svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
main .hover-actions-trigger .inbox-link {
  color: var(--color-dark);
  text-decoration: none;
}
main .btn-dark-mode {
  color: var(--color-dark);
}
main .upload img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Footer */
footer {
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--color-dark);
}

/* ==========Tablets and small laptops========== */
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    /* overflow: hidden; */
  }
}
/* ==========Smaller Tabs and Mobiles========== */
@media (max-width: 767px) {
  .top-heading {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1rem;
  }
  .dropdown-menu[data-bs-popper] {
    left: -110px;
    border: none;
  }
  #side-nav {
    background: var(--color-white);
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }
  #side-nav.active {
    margin-left: 0;
  }
  .profile .info {
    display: none;
  }
  .sidebar ul li:last-child {
    position: relative;
  }
  d-sm-block {
    display: block !important;
  }
}/*# sourceMappingURL=main.css.map */